force-app/main/default/flows/CustomLeadAssignmentRule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>Check if Lead Region is Blank or Not</description>
        <name>Check_if_Lead_Region_is_Blank_or_Not</name>
        <label>Check if Lead Region is Blank or Not</label>
        <locationX>941</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Lead Region is Not Populated</defaultConnectorLabel>
        <rules>
            <name>Lead_Region_is_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grQueueRecord</targetReference>
            </connector>
            <label>Lead Region is Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Queue_is_Found</name>
        <label>Check if Queue is Found?</label>
        <locationX>512</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Queue is Not Found</defaultConnectorLabel>
        <rules>
            <name>Queue_is_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>grQueueRecord.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>grQueueRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>grQueueSobject</targetReference>
            </connector>
            <label>Queue is Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_QueueSObject_is_Found_or_Not</name>
        <label>Check if QueueSObject is Found or Not</label>
        <locationX>182</locationX>
        <locationY>719</locationY>
        <defaultConnectorLabel>QueueSObject is Not Found</defaultConnectorLabel>
        <rules>
            <name>QueueSObject_is_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>grQueueSobject.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>grQueueSobject.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_Lead_to_Queue</targetReference>
            </connector>
            <label>QueueSObject is Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RT: Custom Lead Assignment Rule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT: Custom Lead Assignment Rule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>grQueueRecord</name>
        <label>Get Queue Record based on lead Region</label>
        <locationX>512</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Queue_is_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Region__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>grQueueSobject</name>
        <label>Get QueueSObject</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_QueueSObject_is_Found_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QueueId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>grQueueRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QueueSobject</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_the_Lead_to_Queue</name>
        <label>Assign the Lead to Queue</label>
        <locationX>50</locationX>
        <locationY>827</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>grQueueSobject.QueueId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>815</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Lead_Region_is_Blank_or_Not</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
