force-app/main/default/flows/RT_Create_Task_Record_related_to_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>Create a Task Record related to Contact if the Account is blank</description>
    <environments>Default</environments>
    <interviewLabel>RT: Create Task Record related to Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT: Create Task Record related to Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_Task_Record</name>
        <label>Create a Task Record</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <faultConnector>
            <targetReference>Log_Error_Message_on_System_Event_Object</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!$Record.FirstName} {!$Record.LastName} Contact is Created without Account, please review and associate it with proper account record. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!$Record.FirstName} {!$Record.LastName} Contact is Created without Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_a_Task_Record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Error_Message_on_System_Event_Object</name>
        <label>Log Error Message on System Event Object</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <flowName>Auto_Log_Error_Message_on_System_Event_Obejct</flowName>
        <inputAssignments>
            <name>varComponentName</name>
            <value>
                <stringValue>RT: Create Task Record related to Contact   - V1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varComponentType</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowSetpName</name>
            <value>
                <stringValue>Create a Task Record</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTitle</name>
            <value>
                <stringValue>Unable to create the Task record for Orphan Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varUser</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
