force-app/main/default/flows/RT_Opportunity_Field_History_Tracking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_if_AMount_is_Changed</name>
        <label>Check if AMount is Changed</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_if_Name_is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AMountChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_History_Tracking_for_Amount_Field</targetReference>
            </connector>
            <label>AMount is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Name_is_Changed</name>
        <label>Check if Name is Changed</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Check_if_StageName_is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NameChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_History</targetReference>
            </connector>
            <label>Name is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_StageName_is_Changed</name>
        <label>Check if StageName is Changed</label>
        <locationX>314</locationX>
        <locationY>1211</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StageName_is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_History_Tracking_for_StageName</targetReference>
            </connector>
            <label>StageName is Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RT: Opportunity Field History Tracking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT: Opportunity Field History Tracking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_History_Tracking_for_Amount_Field</name>
        <label>Create History Tracking for Amount Field</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_if_Name_is_Changed</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message_on_System_Event_Object</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FieldName__c</field>
            <value>
                <stringValue>Amount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewValue__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OldValue__c</field>
            <value>
                <elementReference>$Record__Prior.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedObjectName__c</field>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>HistoryTracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_History_Tracking_for_StageName</name>
        <label>Create History Tracking for StageName</label>
        <locationX>50</locationX>
        <locationY>1319</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message_on_System_Event_Object</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FieldName__c</field>
            <value>
                <stringValue>StageName</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewValue__c</field>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OldValue__c</field>
            <value>
                <elementReference>$Record__Prior.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedObjectName__c</field>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>HistoryTracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_History</name>
        <label>Create Opportunity History</label>
        <locationX>50</locationX>
        <locationY>779</locationY>
        <connector>
            <targetReference>Check_if_StageName_is_Changed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_on_System_Event_Object</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FieldName__c</field>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewValue__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OldValue__c</field>
            <value>
                <elementReference>$Record__Prior.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedObjectName__c</field>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>HistoryTracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_AMount_is_Changed</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Error_Message_on_System_Event_Object</name>
        <label>Error Message on System Event Object</label>
        <locationX>314</locationX>
        <locationY>887</locationY>
        <flowName>Auto_Log_Error_Message_on_System_Event_Obejct</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
