force-app/main/default/flows/RT_Submit_Opportunity_For_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>Auto_Log_Error_Message_on_System_Event_Object</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Discount is Changed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>OpportunityDiscountApprovalProcessV1</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_if_Discount_is_Changed</name>
        <label>Check if Discount is Changed</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Discount is Not Changed</defaultConnectorLabel>
        <rules>
            <name>Discount_is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Discount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Discount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Approval</targetReference>
            </connector>
            <label>Discount is Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RT: Submit Opportunity For Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT: Submit Opportunity For Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Discount_is_Changed</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Auto_Log_Error_Message_on_System_Event_Object</name>
        <label>Auto: Log Error Message on System Event Object</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <flowName>Auto_Log_Error_Message_on_System_Event_Obejct</flowName>
        <inputAssignments>
            <name>varComponentName</name>
            <value>
                <stringValue>RT: Submit Opportunity For Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varComponentType</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowSetpName</name>
            <value>
                <stringValue>Submit for Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTitle</name>
            <value>
                <stringValue>Error While Submitting the Approval process</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varUser</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
